*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: Verdana, sans-serif;
  background-color: #00e4bf;
  color: #040019;
}
.admin{
  display: none;
}
/* CSS for login-siden */
#login {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#login form{
  display: grid;
  margin: 50px;
  grid-template-rows: 1fr 1fr 1fr;
}
#login form input{
  height: 75%;
  margin-top: 3vh;
}
#login form button {
  height: 75%;
  background-color: #040019;
  margin-top: 3vh;
  color: white;
  border: none;
}
#login form button:hover{
  background-color: #100623;
}
#login form button:active{
  background-color: #141029;
}
#login img{
  height: 50vh;
  grid-column: span 2;
  margin: 0 auto;
}
#login .feilmelding{
  color: #00e4bf;
  margin: 50px;
}
/* CSS for header */
header{
  display:none;
  background-color: #040019;
  margin: 0;
  color: white;
  padding: 10px;
  text-align: right;
  position: fixed;
  width:100%;
  z-index: 1;
}
header *{
  margin: 5px;
  display: inline;
}
/* CSS for main */
main{
  display:none;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  grid-template-columns: 1fr 60vw 1fr;
  padding-top: 5vh;
}
main br{
  grid-column: span 0;
}
main .innhold{
  width: 80%;
  margin: 0 auto;
}
main .gradient:first-child{
  background-image: linear-gradient(to right, #040019, #00e4bf);
}
main .gradient:last-child{
  background-image: linear-gradient(to left, #040019, #00e4bf);
}
main section{
  margin-bottom: 10vh;
}
main img{
  width: 25vw;
  margin: 0 auto;
}
main h1{
  font-size: 8em;
}
main #lag{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2vw;
}
main #lag a{
  padding-top: 100%;
  position: relative;
  border-radius: 10%;
  background-color: #040019;
  width: 100%;
}
main #lag img{
  width:80%;
  max-height: 80%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto auto;
}
main #lag a:hover{
  transform: scale(1.2);
  transition-duration: 0.3s;
}
main #admin{
  display: none;
}
main #admin div{
  background-color: #040019;
}
main #admin #matchregistration{
  margin-bottom: 5vh;
}
main .kamp{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: white;
  padding: 2vw;
  border-radius: 2vw;
  background-color: #040019;
  margin-bottom: 5vh;
}
main .kamp > div{
  padding-top: 100%;
  position: relative;
  width: 100%;
}
main .kamp h2{
  grid-column: span 3;
}
main .kamp > div:first-child{
  border-radius: 10% 0 0 0;
}
main .kamp > div:nth-child(3){
  border-radius: 0 10% 0 0;
}
main .kamp img{
  width:50%;
  max-height: 50%;
  position: absolute;
  top: 20%;
  left: 0;
  bottom: 0;
  right: 0;
}
main .kamp form{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: span 3;
}
main .kamp form select{
  width: 50%;
  margin: 0 auto;
}
main .kamp form div{
  background-color: #040019;
}
main .kamp form div:nth-child(4){
  border-radius: 0 0 0 10%;
}
main .kamp form div:nth-child(6){
  border-radius: 0 0 10% 0;
}
main .kamp form button{
  background-color: #00e4bf;
  border-radius: 1vw;
  min-height: 2vh;
  border: none;
  margin-top: 1vh;
}
main .kamp form button:active{
  background-color: whitesmoke;
}
main #leaderboard button{
  background-color: #040019;
  width: 40%;
  min-height: 30px  ;
  border-radius: 1vw;
  color: white;
  border: none;
  margin-bottom: 5vh;
}
main #leaderboard button:active{
  background-color: #00b48f;
}
main table{
  background-color: #040019;
  color: white;
  width: 80%;
  margin: 0 auto;
  border-radius: 2vw;
}
main #kampLogg{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
main #brukerKamper{
  margin-right: 5vw;
}
main .visGjett{
  width: 100%;
  background-color: #040019;
  color: white;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-bottom: white solid 0.1vh;
}
main .visGjett:nth-child(2){
  border-top-left-radius: 5vw;
  border-top-right-radius: 5vw;
}
main .visGjett:last-child{
  border-bottom-left-radius: 5vw;
  border-bottom-right-radius: 5vw;
}
main .visGjett > div{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
main .visGjett:last-child{
  border-bottom: none;
}
main .visGjett div div{
  width: 20vw;
}
main .visGjett img{
  width: 50%;

}
/* CSS for footer*/
footer{
  display:none;
  background-color: #040019;
  color: white;
  padding: 10px;
}
